
// The Color Pantheon
$color-primary: #002147;
$color-secondary: #fffbe7;
$color-text-dark: #002147;
$color-text-light: #fffbe7;
$color-background-dark: #002147;
$color-background-light: #fffbe7;

// The Rhythm of the Cosmos
$spacing-unit: 1rem;
$font-stack: 'Merriweather', serif;
$breakpoint-tablet: 768px;
